# Root folder

.adobe
.android
.anyconnect
.bash_history
.bash_logout
.bashrc
.cache
Calibre Library
.cat_installer
.cinnamon
.config
.cordova
.dbus
datamount.sh
Desktop
.dmrc
Documents
Downloads
.filezilla
Fontes
.gconf
.gimp-2.8
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gphoto
.gradle
.ICEauthority
.ido.last
.ionic
.java
.kde
.linuxmint
.local
.lyx
.macromedia
.mozilla
Music
.node-gyp
.npm
.npmrc
.openshot
Pictures
.pki
.plugman
.profile.save
Public
.qws
.recentf
.Skype
.smex-items
.ssh
Templates
.texmf-var
.thumbnails
.thunderbird
tmp
.tsd-cache
.v8flags.3.14.5.9.guilhermevrs.json
.v8flags.3.14.5.9.root.json
Videos
.wine
.wireshark
.Xauthority
.xsession-errors

# ATOM
.apm
compile-cache
.gitignore
init.coffee
keymap.cson
.node-gyp
packages
snippets.cson
storage
styles.less
